{% extends "blog/base.html" %}

{% block title %}{{ article.titre }}{% endblock %}

{% block content %}
{%load blog_extras%}

Nous sommes le {{date_actuelle}}
<br>
{% random 0 42 %}

	<p>
		<a href="{% url 'accueil' %}">Retour à la liste des articles</a>
	</p>

	<h2 class="titre-article">{{ article.titre }}</h2>
	<p class="infos-article">Par {{ article.auteur }}, le {{ article.date }}</p>

	<div class="contenu-article">
		{{ article.contenu|safe }}
	</div>

	<h3 class="titre-comments">Commentaires</h3>

	<h4>Poster votre propre commentaire</h4>

  <form method="post" action="" class="pure-form">
    {% csrf_token %}

    <!-- A vous de remplir le formulaire également -->

    <p><label for="pseudo">Pseudo: </label>
    <input id="pseudo" type="text" name="pseudo" value="">
    </p>

    <p><label for="email">Email: </label>
    <input id="email" type="text" name="commentateur_email" value="">
    </p>



    <p><label for="contenu_commentaire">Contenu: </label>
    <textarea id="contenu_commentaire" rows=10 name="contenu_commentaire" value=""></textarea>
    </p>

    <p style="text-align:center">
      <input class="pure-button pure-button-primary" type="submit" />
    </p>
  </form>


  <div class="clear"></div>

  <div class="clear"></div>

  <h4>Commentaires précédents</h4>

    {%for comment in lastcomments%}


    <p class="infos-article">{{comment.pseudo}}, le {{ comment.date|date:'SHORT_DATETIME_FORMAT' }}</p>

      <div class="contenu-article">
      {{ comment.contenu }}
      </div>

    {%endfor%}






{% endblock %}
